@model IEnumerable<CrawlerView.Models.Crawler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div>
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div>
                <img src="@Html.DisplayFor(modelItem => item.Image)" alt="img" width="300" height="200" />
            </div>
            <div>
                @Html.ActionLink("Detail", "Details", new { id = item.Id })
            </div>
        </div>
    }

</div>
